<section class="orders light-section">
    <div class="container mx-auto pt-20">
        <h1 class="font-bold text-lg mb-4">All orders</h1>
        <% if(messages.success) { %>
        <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4" role="alert">
            <p class="pt-2 pl-2 items-center">⚠️ <%= messages.success %> 😀</p>
        </div>
        <% } %>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders ID</th>
                    <th class="px-4 py-2 text-left">Phone</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Date & Time</th>
                </tr>
            </thead>
            <tbody>
                <% if(orders.length) { %>
                    <%  orders.forEach((order) => { %> 
                    <tr>
                        <td class="border px-4 py-2">
                            <a class="link" href="/customer/orders/<%= order.id %> "><%= order._id %></a>
                        </td>
                        <td class="border px-4 py-2"><%= order.phone %></td>
                        <td class="border px-4 py-2"><%= order.address %></td>
                        <td class="border px-4 py-2"><%= moment(order.createdAt).format('dd/MM/yyyy : hh:mm A') %></td>
                    </tr>
                    <% }) %>
                    <% } else { %>

                        <tr>
                            <td class="p-4"><span>No orders found!</span></td>
                        </tr>

                    <% } %> 
            </tbody>
        </table>
    </div>
</section>